* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center-header
{

width: 100%;
height: 150%;
background: #3C444C;
color: aliceblue;
box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);

}

.cards
{

display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1rem;
background: #3C444D;
box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
border-radius: 6px;

}