* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background:  #30363D;
}

.links
{
  width: 100%;
  height: 20px;
  justify-content: right;
  margin-top: 30px;
  align-items: right;
  display: flex;
  

}

.Link-box
{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2rem;
}

.space-links
{
 width: 70%;
}

.fa-facebook-square
{
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  size: 24px;
}

.fa-twitter
{
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-dribbble
{
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.center-header
{

width: 100%;
height: 10em;
align-items: center;
text-align: center;
background: #3C444C;
box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;

}

.news-name
{
  margin-top: 20px;
}

#news
{
font-family: Viga;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 56px;
display: flex;
color: #FFFFFF;

}

.nav-elements
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2rem;
  color: rgba(255, 255, 255, 1);
  font-family:Montserrat,sans-serif;
  font-weight: 400;
  font-size: 10px;



}

.nav-elements:hover
{
  font-weight: 500;
  

}



.cards
{

display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
background: #30363D;

margin: 0em 5em 0em 5em ;


}



.card {
  cursor: pointer;
  background: #3C444D;
  width: 330px;
  height: 422px;
  border-radius: 6px;
  align-items: center;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);


}

.card .card-container
{
  height: 80%;;
}

.card h1 {
  font-size: 24px;
  padding-bottom: 10px;
  margin: 20px 50px 30px 30px;
  text-align: left;
  font-weight: 400;
  font-family: 'Zilla Slab', serif;
  color: #FFFFFF;
  height: 20%;
  overflow: unset;
}

.card button
{
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
  border-radius: 20px;
  width: 70%;
  height: 10%;
  border: none;
}
.card img {
  width: 100%;
  height: 20%;
  object-fit: cover;  
}

.card p
{
  font-size: 14px;
  line-height: 22px;
  margin: 50px 30px 30px 30px;
  text-align: left;
  font-weight: 400;
  color: #CBCFD4;
  font-family: 'Montserrat', sans-serif;
  height: 25%;
  overflow: hidden;

}



.card-container {
  background: #3C444D;
  color: white;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;

}



@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
    
}